/*******************************************************************
*                       GLOBAL                                     *
********************************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

body {
    font-size: 100%;
    line-height: 1.6;
}

/*******************************************************************
*                   HEADER SECTION                                 *
********************************************************************/

header {
    background-color: #232325;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    height: inherit;
    transition: .3s background-color;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: .75rem;
    font-weight: 600;
    color: #fff;
    padding: 13px 10px;
}

/*******************************************************************
*                   UTILITIES                                      *
********************************************************************/

.hover-gray:hover {
    background-color: #666666;
}

.hover-light-gray:hover {
    background-color: #333333;
}

.hover-blue:hover {
    background-color: #0574AC;
}

.hover-yellow:hover {
    background-color: #FFAF00;
}

.hover-lighter-gray:hover {
    background-color: #5B7C8E;
}

.hover-light-blue:hover {
    background-color: #00A5BB;
}

.hover-purple:hover {
    background-color: #9958A1;
}

.hover-red:hover {
    background-color: #840132;
}

.hover-orange:hover {
    background-color: #FF6C00;
}

.hover-green:hover {
    background-color: #699771;
}

.color-text-gray {
    color: #767676;
}

.no-uppercase li a {
    text-transform: none !important;
}

.container {
    width: 994px;
    margin: 0 auto;
}

.box {
    width: 100%;
    height: inherit;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.column {
    display: flex;
    flex-direction: column;
}

.divider {
    margin: 10px 0;
    display: block;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    transition: border .3s ease;
}

/*Pas capable de faire le border underline animation left to right*/

/*.underline-from-left {*/
/*    transform: translateZ(0);*/
/*    backface-visibility: hidden;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/
/*.underline-from-left:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    left: 0;*/
/*    right: 100%;*/
/*    bottom: 0;*/
/*    background: #2980b9;*/
/*    height: 4px;*/
/*    transition-property: right;*/
/*    transition-duration: 0.3s;*/
/*    transition-timing-function: ease-out;*/
/*}*/
/*.underline-from-left:hover:after {*/
/*    right: 0;*/
/*}*/

.left-divider {
    border-left: 2px solid #232325;
}

.bottom-gray-border {
    border-bottom: solid 1px #EBEBEB;
}

.right-gray-border {
    border-right: solid 1px #EBEBEB;
}

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    height: 51px;
    width: 51px;
    border-radius: 100%;
    background-color: rgba(67, 67, 67, .65);
    z-index: 1;
}

.play-btn > i, .play-btn > svg {
    font-size: 2rem;
}

.publicity-box {
    position: relative;
    cursor: pointer;
    width: inherit;
    height: 250px;
}

.publicity-box > a {
    display: block;
    width: inherit;
    height: inherit;
}

.publicity-box img {
    width: 100%;
}

.publicity-actions-box {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
}

.publicity-action-box {
    padding: 2px;
    margin-left: 2px;
    font-size: .8em;
    font-weight: 600;
    line-height: 1;
    color: #2AB1CD;
    background-color: #CBCBCB;
}

.absolute-link {
    display: block;
    position: absolute;
    text-decoration: none;
    height: 100%;
    width: 100%;
    z-index: 999;
}

/*******************************************************************
*                   CONTENT SECTION                                *
********************************************************************/

#main-aside-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

main, aside {
    display: flex;
    position: relative;
    margin-top: 1.5rem;
    flex-direction: column;
    vertical-align: top;
}

main {
    padding-right: 1rem;
    align-items: flex-start;
}

main > div, aside > div {
    margin-bottom: 30px;
    width: 100%;
}

#header-section {
    width: 100%;
    margin-top: 4rem;
    position: relative;
    height: 140px;
}

#logo-box {
    position: relative;
    margin-right: 20px;
}

#logo-box > a {
    display: block;
    width: 140px;
    height: 140px;
}

#logo-box > a:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 140px;
}

#logo-box > a:hover::after {
    background-color: rgba(48, 48, 51, .1);
}

#img-logo-lapresse {
    width: inherit;
    height: inherit;
}

#current-date {
    flex: 2;
    display: flex;
}

#current-date > span {
    font-weight: bold;
    margin: auto auto auto 0;
}

#meteo {
    position: relative;
    flex: 2;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#meteo:hover {
    cursor: pointer;
}

#meteo #region {
    font-weight: bold;
    font-size: .7rem;
    text-transform: uppercase;
    margin-left: 8px;
}

#search {
    flex: 3;
    display: flex;
}

#search-text {
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #333;
    cursor: pointer;
    width: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
    transition: visibility .3s linear, opacity 0s ease, width .4s ease;
}

#search > svg, #search > i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    padding: 0 1rem;
    height: 100%;
}

#search > svg:hover, #search > i:hover {
    cursor: pointer;
}

#search > svg:hover, #search > i:hover #search-text {
    opacity: 1;
    visibility: visible;
    width: auto;
    margin: auto 0;
    padding: 0 2rem;
}

#je-soutiens {
    position: relative;
    flex: 1;
    display: flex;
    background-color: #ffE501;
    border: 1px solid #222222;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 10px;
    color: #222222;
    white-space: nowrap;
    padding: 6px 8px;
}

#je-soutiens > span {
    margin: auto;
}

#je-soutiens:hover {
    cursor: pointer;
    background-color: rgba(255, 229, 1, 0.5);
}

.person-box {
    cursor: pointer;
    position: relative;
}

.person-logo {
    position: relative;
    top: 0;
    left: 0;
    height: 75px;
    width: 75px;
    margin-right: 10px;
    overflow: hidden;
}

.person-logo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    z-index: 1;
    transition: .3s background-color;
}

.person-logo img {
    position: absolute;
    height: 75px;
    width: 113px;
    left: -19px;
}

.person-description {
    color: #8c8c8c;
}

.person-hover-1:hover .person-description {
    color: #666;
}

.person-hover-1:hover .person-logo:after {
    background-color: rgba(102, 102, 102, 0.3);
}

.person-hover-2:hover .person-description {
    color: #F09114;
}

.person-hover-2:hover .person-logo:after {
    background-color: rgba(255, 175, 0, 0.3);
}

.person-hover-3:hover .person-description {
    color: #00A5BB;
}

.person-hover-3:hover .person-logo:after {
    background-color: rgba(0, 165, 187, 0.3);
}

.person-hover-4:hover .person-description {
    color: #016A7C;
}

.person-hover-4:hover .person-logo:after {
    background-color: rgba(51, 51, 51, 0.3);
}

.person-box > .person-description {
    padding-top: 15px;
    font-size: .8rem;
    font-weight: normal;
    line-height: 1;
    color: #333;
}

.main-article {
    position: relative;
    cursor: pointer;
    width: 654px;
    height: 310px;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, 0)
    ), url("../images/25227.jpg");
    background-size: cover;
}

.main-article-description {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 654px;
    height: 310px;
    padding: 1rem 50% 1rem 1rem;
    z-index: 1;
    transition: background .3s ease;
}

.main-article:hover .main-article-description {
    background: rgba(102, 102, 102, .3);
}

.main-article-type, .main-article-title, .main-article-text, .main-article-credit {
    text-align: left;
    margin-bottom: 10px;
}

.main-article-type, .main-article-title, .main-article-credit {
    text-transform: uppercase;
}

.main-article-type, .main-article-title {
    font-weight: 800;
}

.main-article-title {
    line-height: 1.2;
    font-size: 1.2rem;
}

.main-article-text {
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
}

.main-article-credit {
    white-space: nowrap;
}

.article-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.article-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.small-article {
    position: relative;
    cursor: pointer;
}

.article-column .small-article-img-box {
    height: 145px;
    width: 218px;
}

.article-row .small-article-img-box {
    height: 120px;
    width: 180px;
}

.very-small-article.article-row .small-article-img-box {
    height: 65px;
    width: 98px;
}

.small-article-img-box > a {
    position: relative;
    display: block;
    height: inherit;
    width: inherit;
}

.small-article-img-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    z-index: 1;
    transition: background .3s ease;
}

.small-article:hover + .divider {
    border-color: #6A6B6B;
}

.small-article:hover.article-hover-blue + .divider {
    border-color: #00A5BB;
}

.small-article:hover.article-hover-orange + .divider {
    border-color: #FFAF00;
}

.small-article:hover .small-article-img-box:after {
    background: rgba(102, 102, 102, .3);
}

.small-article:hover.article-hover-blue .small-article-img-box:after {
    background: rgba(0, 165, 187, 0.3);
}

.small-article:hover.article-hover-orange .small-article-img-box:after {
    background: rgba(255, 175, 0, 0.3);
}

.small-article:hover .small-article-title, .small-article:hover .small-article-text {
    color: #6A6B6B;
}

.small-article:hover.article-hover-blue .small-article-title, .small-article:hover.article-hover-blue .small-article-text {
    color: #00A5BB;
}

.small-article:hover.article-hover-orange .small-article-title, .small-article:hover.article-hover-orange .small-article-text {
    color: #FFAF00;
}

.small-article-type, .small-article-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 4px;
}

.small-article-description {
    padding: .2rem .8rem;
    transition: color .3s ease;
    min-height: 120px;
}

.very-small-article .small-article-description {
    min-height: auto;
    padding: .1rem .4rem;
}

.small-article-type {
    color: #6A6B6B;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: .8rem;
}

.small-article-title {
    color: #383838;
    line-height: 1.2;
}

.very-small-article .small-article-title {
    font-size: .9rem;
}

.small-article-text {
    color: #767676;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.4;
}

.dont-miss {
    color: #000;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: .5rem 0;
    line-height: 1;
}

.dont-miss + .divider {
    border-color: #000;
}

/*******************************************************************
*                   FOOTER SECTION                                 *
********************************************************************/

.social-box {
    margin: 2rem 0;
}

.social {
    border-radius: 50%;
    background-color: #FFF;
    width: 40px;
    height: 40px;
}

.social:hover {
    background-color: #C8C8D2;
}

.social a {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.social a svg, .social a i {
    margin: auto;
}

.social-facebook a {
    color: #374284;
}

.social-twitter, .social-faq {
    margin-left: 10px;
}

.social-twitter a {
    color: #1683ab;
}

.social-faq a {
    color: #db5c00;
}

.social-faq a svg, .social-faq a i {
    transform: rotate(45deg);
}

footer {
    position: relative;
    margin-top: 50px;
    z-index: 1;
}

footer > div {
    padding: 1rem;
    margin-bottom: 0;
}

#footer-infos {
    background-color: #1A1A1C;
    padding: 2.5rem 0;
}

#footer-img-logo-lapresse {
    width: 108px;
    height: 108px;
    margin-bottom: 1.8rem;
}

footer ul {
    list-style: none;
}

footer ul li a {
    font-size: .8rem;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

footer ul li a:hover {
    color: #C8C8D2;
}

.footer-padding-box {
    padding: 0 0 5rem 2rem;
}

.footer-subtitle {
    color: #FFF;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

#footer-copy {
    background-color: #303033;
}

.footer-right-divider {
    border-right: 1px solid #FFF;
    margin-right: 1rem;
}

#footer-copy-box {
    color: #FFF;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#footer-copy-box ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#footer-copy-box ul li {
    padding-right: 1rem;
    line-height: 1;
}

#footer-copyright {
    font-size: .8rem;
}
