* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

html {
    font-family: Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

body {
    font-size: 100%;
    line-height: 1.6;
}

header {
    background-color: #232325;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
}

nav {
    height: 50px;
}

nav ul {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

nav ul li {
    flex: 1;
    height: inherit;
    transition: .3s background-color;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: .75rem;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    width: inherit;
    height: inherit;
    line-height: 25px;
}

.hover-gray:hover {
    background-color: #666666;
}

.hover-light-gray:hover {
    background-color: #333333;
}

.hover-blue:hover {
    background-color: #0574AC;
}

.hover-yellow:hover {
    background-color: #FFAF00;
}

.hover-lighter-gray:hover {
    background-color: #5B7C8E;
}

.hover-light-blue:hover {
    background-color: #00A5BB;
}

.hover-purple:hover {
    background-color: #9958A1;
}

.hover-red:hover {
    background-color: #840132;
}

.hover-orange:hover {
    background-color: #FF6C00;
}

.hover-green:hover {
    background-color: #699771;
}

.color-text-gray {
    color: #767676;
}

.no-uppercase li a {
    text-transform: none !important;
}

.container {
    width: 994px;
    margin: 0 auto;
}

main {
    display: flex;
    position: relative;
    padding: 1rem;
    margin-top: 50px !important;
    flex-direction: column;
}

main > div {
    margin-bottom: 30px;
    width: 100%;
}

.box {
    width: 100%;
    height: inherit;
}

.row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.column {
    display: flex;
    flex-direction: column;
}

.divider {
    margin: 10px 0;
    display: block;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
}

.left-divider {
    border-left: 2px solid #232325;
}

#header-section {
    height: 140px;
    align-items: center;

}

#logo-box {
    position: relative;
    margin-right: 20px;
}

#logo-box > a:after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 140px;
}

#logo-box > a:hover::after {
    background-color: rgba(48, 48, 51, .1);
}

#img-logo-lapresse {
    width: 140px;
    height: 140px;
}

#current-date {
    flex: 2;
    display: flex;
}

#current-date > span {
    font-weight: bold;
    margin: auto auto auto 0;
}

#meteo {
    flex: 2;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

#meteo > div {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#meteo #temperature {
    flex: 1;
    text-align: right;
}

#meteo #temperature:hover {
    cursor: pointer;
}

#meteo #region {
    flex: 1;
    font-weight: bold;
    font-size: .7rem;
    text-transform: uppercase;
}

#search {
    flex: 3;
    display: flex;
}

#search > svg, #search > i {
    margin: auto 0 auto auto;
}
#search > svg:hover, #search > i:hover {
    cursor: pointer;
}

#je-soutiens {
    flex: 2;
    display: flex;
    background-color: #ffE501;
    border: 1px solid #222222;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 10px;
    color: #222222;
    white-space: nowrap;
    padding: 6px 6px;
}

#je-soutiens > span {
    margin: auto;
}

#je-soutiens:hover {
    cursor: pointer;
    background-color: rgba(255, 229, 1, 0.5);
}

.person-box {
    cursor: pointer;
    position: relative;
}

.person-logo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 14px;
    width: 86px;
    height: 75px;
    z-index: 1;
    transition: .3s background-color;
}

.person-hover-1:hover .person-description {
    color: #666;
}

.person-hover-1:hover .person-logo:after {
    background-color: rgba(102, 102, 102, 0.3);
}

.person-hover-2:hover .person-description {
    color: #F09114;
}

.person-hover-2:hover .person-logo:after {
    background-color: rgba(255, 175, 0, 0.3);
}

.person-hover-3:hover .person-description {
    color: #00A5BB;
}

.person-hover-3:hover .person-logo:after {
    background-color: rgba(0, 165, 187, 0.3);
}

.person-hover-4:hover .person-description {
    color: #016A7C;
}

.person-hover-4:hover .person-logo:after {
    background-color: rgba(51, 51, 51, 0.3);
}

.person-box > .person-description {
    padding-top: 15px;
    font-size: .8rem;
    font-weight: normal;
    line-height: 1;
    color: #333;
}

.social-box {
    margin: 2rem 0;
}

.social {
    border-radius: 50%;
    background-color: #FFF;
    width: 40px;
    height: 40px;
}

.social:hover {
    background-color: #C8C8D2;
}

.social a {
    display: flex;
    height: 100%;
    width: 100%;
}

.social a svg, .social a i {
    margin: auto;
}

.social-facebook a {
    color: #374284;
}

.social-twitter, .social-faq {
    margin-left: 10px;
}

.social-twitter a {
    color: #1683ab;
}

.social-faq a {
    color: #db5c00;
}

.social-faq a svg, .social-faq a i {
    transform: rotate(45deg);
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 50px !important;
    width: 100%;
}

footer > div {
    padding: 1rem;
    margin-bottom: 0;
}

#footer-infos {
    background-color: #1A1A1C;
    padding: 2.5rem 0;
}

#footer-img-logo-lapresse {
    width: 108px;
    height: 108px;
    margin-bottom: 1.8rem;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: .3rem 0;
}

footer ul li a {
    font-size: .8rem;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

footer ul li a:hover {
    color: #C8C8D2;
}

.footer-padding-box {
    padding: 0 0 5rem 2rem;
}

.footer-subtitle {
    color: #FFF;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

#footer-copy {
    background-color: #303033;
}

.footer-right-divider {
    border-right: 1px solid #FFF;
    margin-right: 1rem;
}

#footer-copy-box {
    color: #FFF;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#footer-copy-box ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#footer-copy-box ul li {
    padding-right: 1rem;
    line-height: 1;
}

#footer-copyright {
    font-size: .8rem;
}
